
*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
h4{
    color: rgb(6, 93, 15);
    text-align: center;
    margin-bottom: 10px;
    
}
.formBox{
    height: 500px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.contaner{
    height: 450px;
    width: 300px;
    border: 1px solid black;
    font-size: 25px;
    color: white;
    box-shadow: 5px 10px 8px #888888;
    padding: 10px;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    /* transform: skew(8deg); */
    backdrop-filter: blur(50px);
}
#color{
    color: black;
    font-size: 20px;
}
#username, #contactNo, #pass, #conformPass{
    height: 30px;
    width: 85%;
    background-color: transparent;
    /* border-radius: 50px; */
    font-size: 20px;
    color: black;
    padding-left: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
#button{
    width: 90px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    box-shadow: 5px 10px 20px rgb(12, 188, 29) inset;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
#button:hover{
    font-size: 20px;
}
.fa-solid{
    color: black;
    font-size: 20px;
}
